<!DOCTYPE html>
<html lang="en">
<%-include('common/header')%>
<body>
    
    <%-include('common/nav')%>
    <center><h1>user welcome</h1></center>
        <center><h1><%=data.name%></h1></center>

        <a href="/logout">logout</a>
    
</body>
</html>