<!-- <header class="header"> -->
    <div class="header_container background-color-orange-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container">
                            <a href="index.html">
                                <img src="imags/logo.png" class="logo-text" alt="">
                            </a>
                        </div>
                        <nav class="main_nav_contaner ml-auto">
                            <ul class="main_nav">
                                <!-- <li class="dropdown active ">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Home
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/">Home variation 1</a></li>
                                        <li><a href="/">Home variation 2</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="/">Home</a></li>
                                <li><a href="/joblist">Job</a></li>
                                <!-- <li><a href="blog_page.html"> Blog</a></li> -->
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/dashboard">Dashboard</a></li>
                            </ul>
                            <div class=" Post-Jobs">
                                <a href="/post_job" class="">
                                    Post Jobs
                                </a>
                            </div>
                           
                            
                            <div class="hamburger menu_mm menu-vertical">
                                <i class="large material-icons font-color-white menu_mm menu-vertical">menu</i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="search">
            <form action="#" class="header_search_form menu_mm">
                <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
                <button
                    class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                    <i class="fa fa-search menu_mm" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li class="dropdown menu_mm">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="index2.html">Home 2</a></li>
                    </ul>
                </li>
                <li class="dropdown menu_mm">
                    <a class="dropdown-toggle menu_mm" data-toggle="dropdown" href="#">Job
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu menu_mm">
                        <li class="menu_mm"><a href="job_category.html">Job List</a></li>
                        <li class="menu_mm"><a href="job_detail.html">Job Detail</a></li>
                    </ul>
                </li>
                <!-- <li class="menu_mm"><a href="blog_page.html">Blog</a></li> -->
                <li class="menu_mm"><a href="/about">About</a></li>
                <li class="menu_mm"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
<!-- </header> -->