<div class="top_bar background-color-orange">
    <div class="top_bar_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                        <ul class="top_bar_contact_list">
                            <li>
                                <i class="fa fa-phone coll" aria-hidden="true"></i>
                                <div class="contact-no">9933935760</div>
                            </li>
                            <li>
                                <i class="fa fa-envelope coll" aria-hidden="true"></i>
                                <div class="email">getJob@gmail.com</div>
                            </li>
                        </ul>
                        <div class=" ml-auto ">
                            <!-- <div class="search_button search"><i class="large material-icons search-icone">search</i></div> -->
                            <div class="hamburger menu_mm  search_button transparent search display"><i
                                    class="large material-icons font-color-white  search-icone  menu_mm ">menu</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>